.whatis-title {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}
.whatis-title-container {
    background-color: #1E2330;
    color: rgba(255, 255, 255, 0.9);
}
.whatis-title-container .title{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 9% 0;
}
.about-container {
    background: rgba(238, 238, 238,1);
}
:lang(mm) .lang{
    font-family: 'Pyidaungsu', sans-serif;
}
:lang(en) .lang {
    font-family: 'Varela Round', sans-serif;
}
.heading {
    font-size: 2.1rem;
}
.team-container {
    padding-top: 2rem;
}
.name {
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
}
.description {
    margin-bottom: 0.2rem;
}
.about-text {
    padding-top: 1.2rem;
    line-height: 1.8;
}
.contact {
    line-height: 1.8;
}
:lang(mm) .about-text {
    font-size: 1.05rem;
}
.about-text-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 1.8rem;
}