/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.box {   
    height: 270px;
    width: 315px;
}
.aqi-main {
    padding: 2.5rem 2rem 8rem 2rem;
}
.aqi-main h1 {
    font-size: 2.5rem;
}
.box h2 {
    font-size: 3rem;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
.box {   
    height: 250px;
    width: 430px;
}
.aqi-main {
    padding: 4rem 2rem 8rem 2rem;
}
.aqi-main h1 {
    font-size: 4rem;
}
.box h2 {
    font-size: 4rem;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}