.aqi-main {
    background-color: #283547;
    position: relative;
}
.aqi-main h1 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
.box {
    position: relative;
    top: 10%;
    margin: 0 auto;
    border-radius: 10%;
    padding: 1rem 1rem;
    text-align: center;
    color: white;
}

.burmese {
    font-family: 'Padauk', sans-serif;
}
.noti-checkbox-container {
    position: relative;
    top: 20%;
    margin: 0 auto; 
    width: 200px;
    height: 80px;
    background-color:white;
}
.noti-label {
    color: black;
    position: relative;
}