/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.box {   
    width: 78%;
}
.logo {
    width: 60%;
}
.aqi-main {
    padding: 1.5rem 0.2rem 3rem 0.2rem;
}
.aqi-main h1 {
    font-size: 1.6rem;
}
.box h2 {
    font-size: 2.7rem;
}
.box h3 {
    font-size: 1.2rem;
}
.aqi-small-title {
    font-size: 0.8rem;
}
.box-small {
    width: 80%;
    height: 40px;
    padding: 0.5rem 0.5rem;
}
.box-small h2 {
    font-size: 1rem;
}
.border-two-col {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
.box {   
    width: 63%;
}
.aqi-main {
    padding: 3rem 2rem 3rem 2rem;
}
.aqi-main h1 {
    font-size: 2rem;
}
.box h2 {
    font-size: 2.7rem;
}
.box h3 {
    font-size: 1.3rem;
}
.box-small {
    width: 70%;
    height: 47px;
    padding: 0.7rem 0.7rem;
}
.box-small h2 {
    font-size: 1.1rem;
}
.border-two-col {
    border-right: 1px solid #dee2e6;

}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box {   
        width: 32%;
    }
    .aqi-main {
        padding: 3rem 2rem 3rem 2rem;
    }
    .aqi-main h1 {
        font-size: 3.2rem;
    }
    .box h2 {
        font-size: 3rem;
    }
    .box h3 {
        font-size: 1.4rem;
    }
    .box-small {
        width: 50%;
        height: 50px;
        padding: 0.7rem 0.7rem;
    }
    .box-small h2 {
        font-size: 1.4rem;
    }
    .aqi-small-title {
        font-size: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .box {   
        width: 27%;
    }
    .aqi-main {
        padding: 3rem 2rem 3rem 2rem;
    }
    .aqi-main h1 {
        font-size: 3.2rem;
    }
    .box h2 {
        font-size: 3.2rem;
    }
    .box h3 {
        font-size: 1.7rem;
    }
    .box-small {
        width: 37%;
        height: 50px;
        padding: 0.7rem 0.7rem;
    }
    .box-small h2 {
        font-size: 1.4rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .box-small {
        width: 30%;
        height: 50px;
        padding: 0.7rem 0.7rem;
    }
    .box-small h2 {
        font-size: 1.4rem;
    }
}